/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Style du formulaire */
form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

/* Style des libellés des champs */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Style des champs de saisie */
input[type="date"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Style du bouton Soumettre */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Centrer le formulaire dans la page */
form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styles spécifiques pour le résultat généré par PHP */
h1 {
    color: #333;
    margin-top: 20px;
}

/* Style du rectangle pour afficher les résultats */
.result-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: left;
}

/* Style du tableau moderne pour les résultats */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}
